body {
    background-image: url(images/anime_sky_scenery.png);
}

h1 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color: aliceblue;
    font-size: 42px;
    word-spacing: 5px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px #000000;
}

h2 {
    font-family: 'Indie Flower', cursive;
    font-size:20px;
    text-align: center;
    letter-spacing: 2px;
}

.title {
    animation-name: bounceInUp;
}

table {
    table-layout: auto;
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: center;
    font-family: Open Sans, san-serif;
    color: azure;
    font-size: 13.5px;
    text-shadow: 2px 2px 4px #000000;
    height: 50px;
    padding: 5px;
    word-wrap: break-word;
}

table,
td {
    border: 1px solid black;
}

.preview {
    height: 205px;
    width: 130px;
    text-align: center;
    vertical-align: middle;
    margin: 0.5em;
    padding: 0.5em;
}

.thumb {
    height: 112px;
    width: 75px;
    vertical-align: middle;
}

.selected {
    border: 2px solid #ffffff;
}

figure{
    float: right;
    position: fixed;
    display: inline-block;
}

figcaption {
    font-family: Open Sans, san-serif;
    color: azure;
    font-size: 13.5px;
    text-shadow: 2px 2px 4px #000000;
    position: relative;
    word-wrap: normal;
    display: block;
    text-align: center;
    vertical-align: middle;
    margin: 0.5em;
    padding: 0.5em;
}

.button {
    font-family: Open Sans, san-serif;
    background-color:cadetblue;
    border: none;
    border-radius: 4px;
    color: whitesmoke;
    padding: 6px 6px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    opacity: 1
}

.modal {
    font-family: Open Sans, san-serif;
    color: black;
    text-shadow: none;
    position: fixed;
    font-size: 12px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal img {
    animation-name:fadeIn;
    height: 200px;
    width: 120px;
    float: left;
}

.modal ul {
    list-style-type: none;
    margin: 0.5em;
    padding: 0.5em;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 24rem;
    border-radius: 0.5rem;
    text-align: left;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    /*transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;*/
}
