body {
    background-image: url(images/anime_sky_scenery.png);
}

h1 {
    text-align: center;
    font-family: Open Sans, sans-serif;
    color: aliceblue;
    word-spacing: 5px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px #000000;
}

table {
    table-layout: auto;
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: center;
    font-family: Open Sans, san-serif;
    color: azure;
    font-size: 13px;
    text-shadow: 2px 2px 4px #000000;
    height: 50px;
    padding: 5px;
    word-wrap: break-word;
}

table,
td {
    border: 1px solid black;
}

.preview {
    height: 225px;
    width: 150px;
    display: block;
    text-align: center;
    vertical-align: middle;
}

.thumb {
    height: 112px;
    width: 75px;
    vertical-align: middle;
}

.normal {
    border: 3px solid #000000;
}

.selected {
    border: 3px solid #ffffff;
}
